<!DOCTYPE html>
<html>
  <head>
    <title>SellMy</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>

    <nav>
      <h1><%= link_to "SellMy", root_path %></h1>
    </nav>

    <div class="main-container">
      <%= yield %>
    </div>

    <footer>
    <h4>Copyright SellMy</h4>
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact Us", contact_path %></li>
    </ul>
    </footer>

  </body>
</html>
